@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "EB Garamond", sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 20%);
}
html {
    overflow: hidden;
    scroll-behavior: smooth;
    overflow: hidden;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #f5e5cf;
}
* a {
    text-decoration: none;
}
img {
    user-select: none;
}
.inactive-el {
    opacity: 0.5;
    pointer-events: none;
}
.none {
    display: none !important;
}
.no-pointer {
    pointer-events: none !important;
}
.font-sans {
    font-family: "Roboto Condensed", sans-serif;
}


.bib-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bib-header {
    z-index: 2;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
}
.bib-header.light-theme {
    background-color: hsl(33, 45%, 92%);
    border-bottom: 1px solid hsl(33, 45%, 85%);
}
.bib-header.sepia-theme {
    background-color: #dcc2a2;
    border-bottom: 1px solid hsl(33, 45%, 65%);
}
.bib-header.dark-theme {
    background-color: #dcc2a2;
    border-bottom: 1px solid hsl(33, 45%, 65%);
}
.bib-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 26px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-logo img {
    height: 42px;
    width: auto;
}
.bib-header-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.bib-header-mid-txt {
    margin-left: auto;
    font-size: 19px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
i.bib-mid-chev {
    transition: 0.2s ease;
    cursor: pointer;
    font-size: 14px;
    color: hsl(0, 0%, 30%);
}
i.bib-mid-chev:hover, i.bib-mid-down:hover, i.bib-left-xmark:hover, i.bib-book-chev:hover {
    color: hsl(0, 0%, 10%);
}
.bib-mid-down {
    transition: 0.2s ease;
    cursor: pointer;
    margin-right: auto;
    font-size: 11px;
    color: hsl(0, 0%, 30%);
}
.bib-header-right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.bib-header-right span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 0%, 0.1);
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
}
.bib-header-right span:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
}
.bib-header-right span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: hsl(0, 0%, 20%);
}


.bib-flex {
    position: relative;
    width: 100%;
    height: calc(100% - 78px);
    display: flex;
}

.bib-left {
    z-index: 2;
    position: absolute;
    top: 0;
    left: -340px;
    padding: 22px 0 0;
    flex-shrink: 0;
    width: 340px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: hsl(35, 66%, 92%);
    border-right: 1px solid hsl(35, 66%, 75%);
    transition: 0.3s ease;
}
.bib-left-show {
    left: 0;
}
.bib-book-flex {
    position: relative;
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.bib-book-drop {
    z-index: 1;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: white;
    border: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}
.bib-header-mid .bib-left-drop {
    width: 300px;
}
.bib-left-search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    border-bottom: 1px solid hsl(0, 0%, 85%);
}
.bib-left-search i {
    flex-shrink: 0;
    font-size: 14px;
    color: hsl(0, 0%, 30%);
}
.bib-left-search input {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: hsl(0, 0%, 30%);
    background-color: transparent;
}
.bib-left-drop-ul {
    height: 250px;
    overflow: auto;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px 5px;
}
.bib-left-drop-li {
    width: 100%;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
    border-radius: 4px;
    transition: 0.2s ease;
}
.bib-left-drop-li:hover {
    background-color: hsl(0, 0%, 94%);
}
.bib-left-drop-active {
    background-color: hsl(0, 0%, 94%);
}

.bib-book-txt {
    font-size: 23px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-book-chev {
    transition: 0.2s ease;
    font-size: 12px;
    color: hsl(0, 0%, 30%);
    cursor: pointer;
}
.bib-left-xmark {
    cursor: pointer;
    margin-left: auto;
    font-size: 15px;
    color: hsl(0, 0%, 30%);
}
.bib-chap-txt {
    margin: 12px 15px 22px;
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 40%);
}
.bib-left-col {
    overflow: auto;
    scrollbar-width: none;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.bib-left-box {
    cursor: pointer;
    width: calc(100% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
    white-space: nowrap;
    color: hsl(0, 0%, 20%);
    transition: 0.2s ease;
}
.bib-left-box div {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-left-box span {
    width: 35px;
    font-size: 18px;
    color: hsl(0, 0%, 30%);
}
.bib-left-box:hover {
    background-color: hsla(138, 15%, 35%, 0.1);
}
.bib-left-box-active, .bib-left-box-active:hover {
    background-color: hsla(138, 15%, 35%, 0.1);
    box-shadow: -8px 0px 0 0 #4b6653;
}

.bib-mid {
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    padding: 70px 0 30px;
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.bib-mid-open {
    z-index: 1;
    position: fixed;
    top: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    border: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bib-mid-open:hover {
    background-color: hsl(0, 0%, 97%);
}
.bib-mid-open i {
    font-size: 17px;
    color: hsl(0, 0%, 20%);
}
.bib-left-open {
    left: 0;
}
.bib-right-open {
    right: 0;
}
.bib-mid-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease;
}
.bib-mid-title {
    position: relative;
    font-size: 46px;
    padding-bottom: 35px;
    margin-bottom: 42px;
    font-weight: 600;
    color: hsl(0, 0%, 20%);
}
i.bib-right-close {
    cursor: pointer;
    font-size: 16px;
    color: hsl(0, 0%, 30%);
}
i.bib-right-close:hover {
    color: hsl(0, 0%, 10%);
}
.bib-mid-title span {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80px;
    background-color: hsl(138, 15%, 45%);
}
.bib-txt {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.s1, .s2 {
    margin: 25px 0 10px;
    font-size: 24px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.p, .nb, .d, .q1, .q2 {
    font-size: 20px;
    line-height: 1.3;
}
.yv-vlbl {
    pointer-events: none;
    font-size: 13px;
    padding: 0 3px;
    margin-right: 2px;
    position: relative;
    cursor: pointer;
    top: -6px;
    left: -0px;
    border-radius: 4px;
}
.bib-verse-idx-highlighted {
    pointer-events: auto;
    background-color: hsla(0, 0%, 100%, 1);
    color: blue;
}
.bib-verse-idx-highlighted:hover {
    color: hsl(240, 100%, 30%);
}
.bib-verse-idx-active, .bib-verse-idx-active:hover {
    background-color: #4b6653 !important;
    color: white !important;
}

/*
.bib-verse {
    width: 100%;
    font-size: 20px;
    line-height: 1.25;
    color: hsl(0, 0%, 30%);
}
.bib-verse span {
    position: relative;
    top: -6px;
    font-size: 11px;
    margin-right: 12px;
    color: hsl(0, 0%, 40%);
}
.bib-mid-heading {
    margin: 22px 0 8px;
    font-size: 22px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
*/

.bib-right {
    z-index: 2;
    transition: 0.3s ease;
    position: absolute;
    top: 0;
    right: -380px;
    padding: 22px 15px 0;
    flex-shrink: 0;
    width: 380px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: hsl(35, 66%, 92%);
    border-left: 1px solid hsl(35, 66%, 75%);
}
.bib-right-show {
    right: 0;
}
.bib-right-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bib-right-links {
    height: 40px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(35, 66%, 75%);
}
.bib-right-links div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 1px 0 0 transparent;
}
.bib-link-active {
    box-shadow: 0 1px 0 0 #4b6653 !important;
}
.bib-right-col {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: calc(100% - 154px);
}

.bib-right-note-col {
    padding-bottom: 20px;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: auto;
}
.bib-note {
    position: relative;
    border-radius: 4px;
    width: 100%;
    padding: 18px 15px;
    border: 1px solid hsl(35, 66%, 75%);
}
.bib-note-head {
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-note-txt {
    margin: 10px 0 14px;
    font-size: 17px;
    color: hsl(0, 0%, 30%);
}
.bib-note-time {
    font-size: 16px;
    color: hsl(0, 0%, 40%);
}
.bib-right-note-add, .bib-right-verse-add, .bib-right-rel-add, .bib-right-lang-add {
    align-self: flex-start;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 19px;
    color: hsl(0, 0%, 20%);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bib-right-note-add i, .bib-right-verse-add i, .bib-right-rel-add i, .bib-right-lang-add i {
    font-size: 14px;
    color: hsl(0, 0%, 20%);
}
.bib-right-note-add:hover, .bib-right-note-add:hover i,  .bib-right-verse-add:hover, .bib-right-verse-add:hover i,  .bib-right-rel-add:hover, .bib-right-rel-add:hover i, .bib-right-lang-add:hover, .bib-right-lang-add:hover i {
    color: black;
}
.bib-right-note-add:active, .bib-right-verse-note:active i, .bib-right-verse-add:active, .bib-right-verse-add:active i, .bib-right-rel-add:active, .bib-right-rel-add:active i, .bib-right-lang-add:active, .bib-right-lang-add:active i {
    color: #4b6653;
}
.bib-note textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    resize: none;
}
.bib-note-head-area {
    height: 26px;
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-note-txt-area {
    margin: 4px 0 10px;
    font-size: 17px;
    color: hsl(0, 0%, 30%);
    height: 88px;
}
.bib-right-btn {
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
}
.bib-right-btn span {
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 0;
    flex: 0 0 calc(33% - 5px);
    font-size: 17px;
    font-weight: 500;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}
i.bib-note-xmark {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: hsl(0, 0%, 30%);
    font-size: 14px;
}
i.bib-note-xmark:hover {
    color: hsl(0, 0%, 10%);
}

.bib-right-verse-col {
    padding-bottom: 20px;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: auto;
}
.bib-verse {
    position: relative;
    border-radius: 4px;
    width: 100%;
    padding: 18px 15px;
    border: 1px solid hsl(35, 66%, 75%);
}
.bib-verse-head {
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-verse-txt {
    margin: 10px 0 14px;
    font-size: 17px;
    color: hsl(0, 0%, 30%);
}
.bib-verse-time {
    font-size: 16px;
    color: hsl(0, 0%, 40%);
}
.bib-verse-btn {
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
}
.bib-verse-btn span {
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 0;
    flex: 0 0 calc(33% - 5px);
    font-size: 17px;
    font-weight: 500;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}
i.bib-verse-xmark {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: hsl(0, 0%, 30%);
    font-size: 14px;
}
i.bib-verse-xmark:hover {
    color: hsl(0, 0%, 10%);
}

.bib-right-rel-col {
    padding-bottom: 20px;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: auto;
}
.bib-rel {
    position: relative;
    border-radius: 4px;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid hsl(35, 66%, 75%);
}
.bib-rel-head {
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-rel-txt {
    margin-top: 10px;
    font-size: 17px;
    color: hsl(0, 0%, 30%);
}
.bib-rel-desc {
    margin: 10px 0 2px;
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 30%);
}

.bib-right-lang-col {
    padding-bottom: 20px;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.bib-lang-load {
    margin: 10px 0 10px;
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 30%);
}
.bib-lang-eng {
    display: flex;
    flex-wrap: wrap;
    column-gap: 7px;
    row-gap: 2px;
}
.bib-lang-eng span {
    font-size: 19px;
    font-weight: 500;
    color: hsl(240, 100%, 50%);
    text-decoration: underline;
    text-underline-offset: 1px;
    cursor: pointer;
    transition: 0.2s ease;
}
.bib-lang-eng span:hover {
    color: hsl(240, 100%, 30%);
}
.bib-lang-greek {
    margin-top: 12px;
    font-size: 19px;
    color: hsl(0, 0%, 20%);
    transition: 0.2s ease;
}
.bib-lang-content-load {
    margin-top: 32px;
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 30%);
}
.bib-lang-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bib-lang-ul {
    margin: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.bib-lang-li {
    width: 100%;
    display: flex;
    gap: 12px;
}
.bib-lang-li div {
    min-width: 105px;
    flex-shrink: 0;
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-lang-li span {
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 30%);
    width: 100%;
}
.bib-lang-label {
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-lang-occ-col {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bib-lang-occ {
    position: relative;
    border-radius: 4px;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid hsl(35, 66%, 75%);
}
.bib-lang-head {
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-lang-txt {
    margin-top: 10px;
    font-size: 17px;
    color: hsl(0, 0%, 30%);
}

.bib-opt {
    z-index: 1;
    position: fixed;
    top: 90px;
    right: calc(380px + 12px);
    width: 350px;
    padding: 15px 15px 20px;
    background-color: white;
    border: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease;
    opacity: 0;
    pointer-events: none;
}
.bib-opt-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid hsl(0, 0%, 85%);
}
.bib-opt-head {
    font-size: 19px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
i.bib-opt-close {
    cursor: pointer;
    font-size: 16px;
    color: hsl(0, 0%, 30%);
}
i.bib-opt-close:hover {
    color: hsl(0, 0%, 10%);
}
.bib-opt-label {
    margin: 20px 0 12px;
    font-size: 18px;
    color: hsl(0, 0%, 30%);
}
.bib-opt-flex {
    width: 100%;
    display: flex;
    gap: 10px;
}
.bib-opt-font {
    font-size: 15px;
    color: hsl(0, 0%, 50%);
}
.bib-opt-range {
    width: 100%;
    accent-color: #4b6653;
}
.bib-opt-btn, .bib-opt-pill {
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}
.bib-opt-btn:hover, .bib-opt-pill:hover {
    background-color: hsl(0, 0%, 97%);
}
.bib-opt-btn-active, .bib-opt-btn-active:hover, .bib-opt-pill-active, .bib-opt-pill-active:hover, .bib-right-btn-active, .bib-right-btn-active:hover {
    opacity: 1 !important;
    border: 1px solid transparent !important;
    background-color: hsl(138, 15%, 35%) !important;
    color: white !important;
}
.bib-opt-spacing .bib-opt-btn {
    height: 50px;
    display: flex;
    flex-direction: column;
}
.bib-opt-spacing .bib-opt-btn span {
    width: 30px;
    height: 1px;
    background-color: hsl(0, 0%, 70%);
    border-radius: 200px;
}
.bib-opt-col {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.bib-opt-col:hover .bib-opt-circle {
    box-shadow: 0 0 0px 1px hsl(0, 0%, 85%);
}
.bib-opt-circle {
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 200px;
}
.bib-opt-col-active .bib-opt-circle {
    border: 1px solid #4b6653;
}
.bib-opt-theme-txt {
    font-size: 17px;
    color: hsl(0, 0%, 40%);
}
.bib-opt-col-active .bib-opt-theme-txt {
    color: hsl(0, 0%, 20%);
    font-weight: 500;
} 
.bib-opt-tran {
    flex-wrap: wrap;
}
.bib-opt-pill {
    font-size: 14px;
    width: auto;
    padding: 5px 12px;
}

.bib-chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}
.bib-chat-input input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid hsl(0, 0%, 85%);
    outline: none;
    font-size: 17px;
    color: hsl(0, 0%, 20%);
}
.bib-chat-input input:focus {
    border: 1px sold hsl(0, 0%, 70%);
}
.bib-chat-send {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #4b6653;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bib-chat-send i {
    color: white;
    font-size: 17px;
}
.bib-chat-col {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    gap: 20px;
    padding-bottom: 20px;
    scrollbar-width: 0;
}
.bib-chat-com {
    width: 100%;
    display: flex;
    gap: 15px;
}
.bib-com-pfp {
    width: 45px;
    height: 45px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #4b6653;
    overflow: hidden;
}
.bib-com-pfp img {
    width: 100%;
    height: auto;
}
.bib-com-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bib-com-name {
    font-size: 19px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-com-date {
    margin: 8px 0 8px;
    font-size: 17px;
    color: hsl(0, 0%, 30%);
}
.bib-com-text {
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}
.bib-com-reply-btn {
    cursor: pointer;
    margin: 12px 0 22px;
    font-size: 18px;
    color: hsl(0, 0%, 30%);
    font-weight: 500;
    display: flex;
    align-items: center;
}
.bib-com-reply-btn span {
    color: hsl(0, 0%, 30%);
    font-weight: 500;
}
.bib-com-reply-btn i {
    margin-left: 15px;
    font-size: 15px;
    color: hsl(0, 0%, 35%);
    transition: 0.2s ease;
}
.bib-com-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}